%nav.navbar.navbar-expand-md.navbar-light.bg-primary
  .container-fluid
    %button.navbar-toggler{data: { target: '#navbarSupportedContent', toggle: 'collapse' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' }, type: 'button'}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      = link_to root_path, class: 'navbar-brand text-white text-small' do
        Notes
        - if Rails.env.development?
          %small
            %strong.text-info DEV
        - if Rails.env.test?
          %small
            %strong.text-danger QA
      -# = render partial: 'layouts/partials/user_menu'