%ul.navbar-nav
  %li.nav-item
    = link_to 'Home', root_path, class: 'nav-link text-white'
%ul.navbar-nav.ml-auto
  %li.nav-item
    = link_to new_user_session_path, class: 'nav-link text-white' do
      = fa_light 'sign-in'
      Log In